---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/search/movie??&api_key=<MOVIES_API_KEY>&language=en-US&page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 0b5947bc31aeddd8f20b6f446a3fa89e
      X-Memc-Age:
      - '20541'
      X-Memc-Expires:
      - '3944'
      Etag:
      - W/"0e23279b004381f72a34159d5c7dfd1f"
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"results":[],"total_pages":1,"total_results":0}'
  recorded_at: Thu, 22 Aug 2024 16:50:25 GMT
recorded_with: VCR 6.3.1
